/* Total Body */
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
/* -----------------Header Part - First-------------------------- */
.contact-us {
    background-color: #4eaaa1;
    display: inline-block;
    font-size: .9em;
    color: aliceblue;
    padding: 0.8em 0 0.8em 0;
    width: 100%;
}
.en-left {
    float: left;
    margin-left: 3em;
}
.en-left li {
    list-style: none;
    display: inline-block;
}
.en-left a {
    color: aliceblue;
    font-size: .9em;
}
.en-right {
    float: right;
    margin-right: 5em;
}
/* -------------------Header Part - Second------------------------- */
.second-section {
    display: flex;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    align-items: center;
}
.nav>ul {
    list-style: none;
    display: flex;
}
.nav li {
    padding-right: 5%;
}
.nav a {
    text-decoration: none;
    color: gray;
}
.donate button {
    color: aliceblue;
    background-color: #4eaaa1;
    border: none;
    width: 6em;
    height: 2em;
    font-weight: 600;
}
/* ----------------------Header Part - Third --------------------------*/
.third-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30em;
    background-image: url(../img/slide-one.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
}
.intro>button {
    width: 8em;
    height: 2.5em;
    background-color: transparent;
    border: 1px solid aliceblue;
    margin-right: 1em;
    border-radius: 8%;
}
.intro a {
    color: aliceblue;
    text-decoration: none;
}
.intro a:hover {
    color: brown;
}
/* ---------------Blog Part-------------------------- */
.blog-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog {
    color: #4eaaa1;
}
.blog-store {
    margin: 2em 2em 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.blog-box {
    display: block;
}
.blog-img {
    width: 95%;
    position: relative;
}
.blog-img>img {
    justify-content: center;
    width: inherit;
}
.blog-img>a {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    padding: 1em .3em;
    width: 3.5em;
    text-decoration: none;
    background-color: #4eaaa1;
    color: aliceblue;
    font-size: .8em;
}
.blog-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gray;
    font-size: .8em;
}
.blog-bottom-user {
    float: left;
    font-size: .8em;
}
.blog-bottom-like {
    float: right;
    font-size: .8em;
}
.blog-bottom-end {
    margin: 2em 0 0 0;
}
.blog-bottom-end {
    position: relative;
    flex-direction: column;
}
.ready {
    position: absolute;
    right: 2em;
    bottom: -2em;
}
.ready>p {
    font-size: .8em;
    border-bottom: 2px solid black;
}
/* ------------------------Sponspor Part----------------------------- */
.sponsers {
    margin-top: 7em;
}
.spons-head {
    text-align: center;
    margin-bottom: 1em;
}
.spon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3em;
    max-width: 100%;
}
.spon>img {
    width: 6em;
    padding: 2em 0 0 0;
}
/* ------------------------Footer Part - First------------------------------ */
.first-sec {
    width: 100%;
    background-color: #222322;
}
.foot-store {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1em 0 1em;
    color: #e8ecf5;
}
.con {
    font-size: .8em;
    padding-bottom: 1.2em;
}
.foot-head {
    font-size: 1.2em;
    padding-bottom: .8em;
    padding-top: .4em;
}
.navi  li {
    list-style: none;
    padding-bottom: .3em;
}
.navi a {
   text-decoration: none;
   font-size: .8em;
   color: #e8ecf5;
}
.navi a:hover {
    color: chocolate;
}
.email {
    display: flex;
}
.email button {
    background-color: #4eaaa1;
    color: #e8ecf5;
    border: none;
    width: 1.5rem;
    height: 1.35rem;
}
/* ------------------------Footer Part - Second------------------------------ */
.second-sec {
    background-color: #181918;
}
.con p {
    padding-bottom: .3em;
}
.cre {
    display: flex;
    width: 100%;
    padding: 1em 0 1em 0;
    color: #e8ecf5;
    justify-content: space-between;
    font-size: .9em;
}
#credit {
    margin-left: 2em;
    font-size: .8em;
}
#credit i {
    color: red;
}
#cont a {
    color: #e8ecf5;
}
#cont {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-right: 2em;
}
#cont li {
    padding-right: .5em;
}